body { 
    margin: 0; 
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    background: linear-gradient(to right, #2196f3, #78efe8);
    color: white;
}

.game-title {
    font-size: 6rem;
    font-weight: 600;
    text-align: center; 
}

.game-display {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.win-text {
    color: #fe00b7
}

.lose-text {
    color: #DBFEB7;
}

.choice-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    margin-top: 2rem;
}

.choice {
    cursor: pointer;
    transition: transform 0.2s;
}

.choice:hover {
    transform: scale(1.1);
}

.choice-image {
    width: 400px;
    height: 350px;
    color: #efefef; 
}

.active-choice .choice-image {
    color: #ffffff;
}

.user-choice .choice-image {
    color: #fe00b7;
}

.computer-choice .choice-image {
    color: #DBFEB7;
}

.computer-choice.user-choice .choice-image {
    color: #da89b2;
}

.game-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.start-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: white 4px solid;
    border-radius: 2rem;
    font-weight: medium;
    font-size: 1.5rem;
    background-color: #fe00b7;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 1rem;
}

.start-button:hover {
    background-color: #78efe8;
}

.score-text {
    font-size: 1rem;
    color: white;
}